.rc-slider-track {
    height: 3px !important;
    background-color: #F53E32 !important;
}
.rc-slider-handle, .rc-slider-dot {
    border: solid 2px #F53E32 !important;
    background: #F53E32 !important;
    opacity: 1 !important;
}
.rc-slider-dot-active{
    border-color: #F53E32 !important;
}

.rc-slider-handle:active {
    box-shadow: 0 0 5px #660e08 !important;
}